@import "../../../assets/sass/mixins";
@import "../../../assets/sass/base";

.footer {
    background-color: #78aafa;
    padding: 2rem 0;
    color: #fff;
    text-align: center;

    &__content {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    &__text {
        font-size: 1.1rem;
        line-height: 1.6;
    }
}